@font-face {
    font-family: "SegoeUi";
    src: url("https://fontsforyou.com/fonts/s/SegoeUi.ttf");
}
body {
    font-family: "SegoeUi", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #3e1717;
    background-color: #f4f0ec;
    background-image: url("images/arcadia.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}
html,
body {
    min-height: 100%;
}
body.loading {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background:#f4f0ec;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
a:link,
a:visited,
a:active {
    text-decoration: none;
    color: #3e1717;
}
a:hover {
    color: #36C;
    text-decoration: underline;
}
a.external  {
    background-image: url(images/link-external.svg);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 0.857em;
    padding-right: 1em;
    }
caption.titre {
    font-size: bold;
    text-align:center;
    background-color:#7DA7D9;
    color:#000000
}
figure {
    border: 1px solid #ddd;
    background-color: #eee;
    text-align: center;
    padding: 0.3em;
    margin: auto;
    margin-bottom: 1em;
}
figcaption {
    font-size: 0.8em;
    text-align: center;
    margin: 5px 0 8px 0;
}
h1, h2 {
    font-family: 'Linux Libertine','Georgia','Times','Source Serif Pro',serif;
    font-weight: normal;
    padding-left: 5px;
    color: #660101;
}
p {
    margin: 0;
    padding: 5px;
}
select,
input {
    vertical-align: middle;
}
th {
    text-align: left;
}
#central {
    position: absolute;
    top: 70px;
    left: 0;
    right: 300px;
    bottom: 0;
    z-index: -1;
    font-size: 1em;
    width: 700px;
    margin: auto;
}
#hautdepage {
    font-family: "Average", Garamond, Times, serif;
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    right: 300px;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    color: #660101;
    opacity: 0.7;
}
#hautdepage>a:link,
#hautdepage>a:visited,
#hautdepage>a:active,
#hautdepage>a:hover {
    text-decoration: none;
    color: #660101;
}
#lien-album {
    position: fixed;
    top: 25px;
    right: 50px;
}
#menu {
    z-index: 99;
    position: fixed;
    top: 20px;
    padding: 0px;
    right: 10px;
    width: 300px;
    border-radius: 5px;
    background: #eee;
    /*background: rgba(244, 240, 236, 0.8);*/
    border: 1px solid #ccc;
    /*box-shadow: -1px -1px 3px #999;*/
    opacity: 0.8;
}
#poubelle {
    display: none;
    font-size: 0.9em;
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 300px;
    padding: 10px;
    overflow-y: scroll;
    z-index: 99;
}
#pourcent {
    position: absolute;
    left: 0;
    top: 300px;
    right: 300px;
    margin: auto;
    font-size: 6em;
    font-weight: bold;
    font-family: 'Arial Bold', Arial, sans-serif;
    color: #f4f0ec;
    -webkit-text-stroke: 1px #3e1717;
    text-align: center;
    z-index: 99;
}
#search {
    flex-basis: 20%;
}
#toTop {
    display: none;
    position: fixed;
    right: 330px;
    bottom: 20px;
    cursor: pointer;
    opacity: 0.5;
    z-index: 99;
}
#webtree {
    display: block;
    position: fixed;
    top: 100px;
    left: 10px;
    border: none;
    text-align: center;
    }
.auteur {
    text-align: center;
}
.cadre {
    background: #eee;
    border-radius: 5px;
    color: #666;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 5px;
    opacity: 0.8;
    /*box-shadow: -1px -1px 3px #999;*/
}
.closeInfos {
    position: absolute;
    z-index: 5;
    top: 4px;
    left: 4px;
    cursor: pointer;
}
.dataXMP {
    font-size: 0.8em;
    margin-bottom: 5px;
    padding-bottom: 5px;
}
.date {
    font-size: 0.9em;
}
.desc {
    width: 95%;
    margin-left: 2.5%;
    font-size: 0.9em;
    font-style: italic;
    color: #666;
    padding: 3px 3px 1em 3px;
    text-align: left;
}
.detail {
    min-width: 300px;
    font-size: 1em;
    line-height: 1.5em
}
.divImageBlog {
    font-size: 0.9em;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: white;
    margin-bottom: 1em;
    border-radius: 5px;
    padding-bottom: 1.5em;
    position: relative;
}
.divImageMosaic {
    position: relative;
}
.divImageMosaic > .titre, .divImageMosaic > .desc, .divImageMosaic > .plusinfo {
    display: none;
}
div.infobox_v3 {
    padding: 5px;
    width: 25em;
    background-color: var(--couleur-fond-boite-grise,#f9f9f9);
    border: 1px solid var(--border-color-base,#a2a9b1);
    clear: right;
    float: right;
    font-size: 0.9em;
    line-height: 1.4;
    margin: 0 0 0.5em 1em;
    max-width: 325px;
    word-wrap: break-word;
}
.divPhoto {
    border-radius: 5px;
    padding-top: 10px;
    margin: 2em;
    background: rgba(244, 240, 236, 0.5);
    border: 1px solid #ccc;
    /*box-shadow: -1px -1px 3px #999;*/
}
.divPhotoMini {
    float: left;
    width: 100px;
    height: 100px;
    margin: 1em;
    border: 1px solid #ccc;
    /*box-shadow: -1px -1px 3px #999;*/
}
.icon {
    vertical-align: middle;
}
.info {
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}
.leaflet-control-attribution.leaflet-control {
    display: none;
}
.map {
    min-height: 150px;
    width: 300px;
    border-radius: 5px;
}
.menu {
    text-align: right;
    padding-right: 10px;
    font-size: 0.8em;
    color: #666;
}
.mimeType {
    font-size: 0.9em;
    background: #999;
    color: #eee;
    padding: 0 2px 0 2px;
    margin-left: 2em;
    border-radius: 2px;
}
.objectif {
    margin-top: 1em;
    border-top: 1px solid #ccc;
}
.photo {
    max-width: 580px;
    max-height: 580px;
    border: 10px solid white;
    text-align: center;
}
.photoMini {
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.photoMini:hover {
    opacity: 0.5;
}
.plusinfo {
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-size: 0.8em;
    color: #666
}
.publication {
    font-size: 0.9em;
    position: fixed;
    top: 180px;
    bottom: 0px;
    right: 0px;
    width: 300px;
    padding: 10px;
    overflow-y: scroll;
    background: transparent;
    z-index: 99;
    /*background: rgba(244, 240, 236, 0.8);
    border-radius: 5px;
    box-shadow: -1px -1px 3px #999;*/
}
.searchText {
    color: #333;
    border: 1px solid #cdd4d8;
    border-radius: 3px;
    background: #e6eaec;
    padding: 1px;
    margin-right: 2px;
}
.searchText>a:hover {
    text-decoration: none;
    color: #333;
}
.tagBlog, .tagMosaic {
    margin-left: auto;
    margin-right: auto;
    color: #666;
    font-size: 0.8em;
}
.tag>a:link,
.tag>a:visited,
.tag>a:active {
    text-decoration: none;
    color: #d34d1d;
}
.tag>a:hover {
    color: #0000CC;
}
.titre {
    /*width: 95%;
    margin-left: 2.5%; */
    text-align: center;
    font-size: 0.9em;
    font-weight: 600;
    color: #660101;
    padding-bottom: 3px;
}
.trash {
    position: absolute;
    bottom: 5px;
    left: 25px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}
